.App * {
	color: rgb(132, 0, 255);
	border-color: rgb(132, 0, 255);
	background-color: black;
}

nav {
	margin-top: 1vw;
	display: flex;
	width: 100vw;
}

button,
.button {
	width: 22.5vw;
	height: 6vw;
	border: 0.5vw solid;
	border-radius: 3vw;
	font-size: 3.2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	text-decoration: none;
	color: inherit;
}

button:hover,
.button:hover {
	cursor: pointer;
	color: black;
	border-color: rgb(132, 0, 255);
	background-color: rgb(132, 0, 255);
}

button:disabled,
.button:disabled {
	pointer-events: none;
	color: rgb(66, 0, 128);
	border-color: rgb(66, 0, 128);
}

.active {
	color: black;
	border-color: rgb(132, 0, 255);
	background-color: rgb(132, 0, 255);
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2vw;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vw;
}

input {
	width: 47vw;
	height: 6vw;
	font-size: 3.2vw;
	border-radius: 3vw;
	border: 0.5vw solid;
	text-align: center;
	outline: none;
}

textarea {
	border: 0.5vw solid;
	border-radius: 3vw;
	resize: none;
	width: 96vw;
	outline: none;
	font-size: 2.4vw;
	text-align: center;
	height: 11vw;
	margin-top: -0.01vw;
	overflow: hidden;
}

input.create {
	width: 96vw;
}

.buttonsWrapper {
	display: flex;
	justify-content: space-between;
	width: 47vw;
}

p {
	font-size: 3.2vw;
}

.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vw;
}

.modal {
	z-index: 1;
	position: absolute;
	width: 47vw;
	height: 22vw;
	top: 9vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.modalMessage {
	display: flex;
	align-items: center;
	width: 47vw;
	font-size: 3vw;
	height: 14vw;
	border: 0.5vw solid;
	border-radius: 3vw;
	text-align: center;
}

.modal button {
	width: 47vw;
}

.errors {
	height: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorsWrapper {
	margin-top: 1vw;
}

.postCard {
	border: 0.5vw solid;
	width: 96vw;
	border-radius: 3vw;
	font-size: 3.2vw;
	height: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1vw;
}

.postCard:hover {
	cursor: pointer;
	color: black;
	border-color: rgb(132, 0, 255);
	background-color: rgb(132, 0, 255);
}

.postTitle {
	border: 0.5vw solid;
	height: 6vw;
	width: 96vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.2vw;
	border-radius: 3vw;
	margin-bottom: 2vw;
}

.postContent {
	border: 0.5vw solid;
	min-height: 6vw;
	width: 96vw;
	font-size: 2.4vw;
	border-radius: 3vw;
	word-wrap: break-word;
	margin-bottom: 2vw;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.postsWrapper {
	display: flex;
	flex-direction: column;
}

.confirmationModalWrapper {
	position: absolute;
	width: 96vw;
	height: calc(100vh - 9vw);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	overflow: hidden;
}

.confirmationModal {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}